/*전체 선택자*/
* {
  color: blue;
}

/*태그 선택자*/
/*태그명 {속성 : 속성값;}*/
/*태그명 {해당 태그 }*/
li {
  background-color: aqua;
}

/*class 선택자*/
/*html 내에서 해당 class를 가진 요소*/
/*.클래스명{속성:속성값}*/
.red {
  background-color: red;
}

/*아이디 선택자*/
/*html 내에서 해당 id를 가진 요소 선택*/
/*#아이디명 {속성 : 속성값}*/
#li-orange {
  background-color: orange;
}

/* id와 class 선택자 중에서 id 선택자의 우선순위가 더 높음.*/
/* 우선순위 :태그 선택자< class 선택자 순으로 우선순위를 가짐*/
