h1 {
  color: green;
  text-align: center;
}
* {
  background-color: blanchedalmond;
}
th,
tr {
  width: 170px;
  height: 100px;
}
th:first-child {
  color: red;
}
td:first-child {
  color: red;
}
th:last-child {
  color: blue;
}
td:last-child {
  color: blue;
}
.text {
  color: red;
}
