*{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 900;
    font-size: 30px;
    /* font-variant: small-caps; */
}


/* div의 첫번째 자식 */
p:first-child{
    background-color: yellow;
}

/* 마지막 자식 */
/* p:last-child{
    color: red;
} */

/* 앞에서 n번째 자식 */
/* p:nth-child(3){
    background-color: green;
} */

/* 뒤에서 n번째 */
/* p:nth-last-child(1){
    background-color: gray;
} */

/* n번째 특정 자식  */
/* p:nth-of-type(2){
    background-color: red;
} */

/* 끝에서 n번째 특정 자식 */
/* p:nth-of-type(2){
    color: blue;
} */

/* 부모의 첫 번째 특정 자식 */
p:first-of-type{
    color: pink;
}

/* 부모의 마지막 특정 자식 */
